:root {
    --primary: #25AEF2;
    --secondary: #4EC9B0;
    --error: #ff695e;
    --success: #2ecc40;
    --warning: #ffc21c;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Quicksand, sans-serif;

}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;

    background-color: rgb(196, 191, 190, .7);
}
