.dot {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}


.container.bomb {
    background-color: #01263d;
}

.ship-container {
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: 5rem;
    height: 80vh;
}

.ship {
    position: absolute;
    top: 0;
    left: 0;

    cursor: pointer;
    /* border: 3px solid yellow; */
}

.ship-3-left,
.ship-3-right {
    width: calc(80vh / 5 * (3 - .8));
    height: calc(80vh / 5 * (3 - .8));
}

.ship-3-up,
.ship-3-down {
    width: calc(80vh / 5 * (3 - .8));
    height: calc(80vh / 5 * (3 - .8));
}

.ship-2-left,
.ship-2-right {
    width: calc(80vh / 5 * (2 - .8));
    height: calc(80vh / 5 * (2 - .8));
}

.ship-2-up,
.ship-2-down {
    width: calc(80vh / 5 * (2 - .8));
    height: calc(80vh / 5 * (2 - .8));
}


.grid-container {
    width: 80vh;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 1rem;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    font-size: 30px;
    text-align: center;
}

.container.bomb.primary .grid-item.active {
    background-color: var(--primary);
}

.container.bomb.secondary .grid-item.active {
    background-color: var(--secondary);
}

.bomb-ready-btn {
    position: absolute;
    bottom: 3rem;
    right: 3rem;

    padding: 1.5rem;

    font-size: 3rem;
    color: #fff;

    border: .3rem solid;
    border-radius: 1.5rem;

    cursor: pointer;
}

.container.bomb.primary .bomb-ready-btn {
    border-color: var(--primary);
    background-color: var(--primary);
}

.container.bomb.secondary .bomb-ready-btn {
    border-color: var(--secondary);
    background-color: var(--secondary);
}

.container.bomb.primary .bomb-ready-btn:hover {
    color: var(--primary);
    background-color: #fff;

    border-color: var(--primary);
}

.container.bomb.secondary .bomb-ready-btn:hover {
    color: var(--secondary);
    background-color: #fff;

    border-color: var(--secondary);
}


/* dashboard - start */

.container.bomb-dashboard .dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container.bomb-dashboard .grid-container {
    width: 70vh;
    height: 70vh;
}

.container.bomb-dashboard .grid-container.primary {
    margin-right: 10rem;
}

.container.bomb-dashboard .grid-container .grid-item.blank:hover {
    background-color: var(--error);
    cursor: pointer;

}

.grid-container .grid-item.set {
    background-color: var(--error);
}

.grid-container .grid-item.bombed,
.grid-container .grid-item.missed {
    padding: 0;
    display: grid;
    place-items: center;

    font-size: 4.5rem;

    cursor: not-allowed;
}

.grid-container .grid-item.bombed i,
.grid-container .grid-item.missed i {
    width: 100%;
}


.grid-container.primary .grid-item.crashed {
    background-color: var(--primary);
}

.grid-container.secondary .grid-item.crashed {
    background-color: var(--secondary);
}



.bomb-trigger-btn {
    position: absolute;

    left: 50%;
    top: 90%;
    transform: translateY(-50%) translateX(-50%);
}


.bomb-btn-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.bomb-btn-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    transform: translateY(2px);
}

.bomb-btn-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
            hsl(340deg 100% 16%) 0%,
            hsl(340deg 100% 32%) 8%,
            hsl(340deg 100% 32%) 92%,
            hsl(340deg 100% 16%) 100%);
}

.bomb-btn-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 6rem;
    color: white;
    background: hsl(345deg 100% 47%);
    transform: translateY(-4px);
}


/* hover effect */
.bomb-btn-pushable:hover .bomb-btn-front {
    transform: translateY(-7px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.bomb-btn-pushable:hover .bomb-btn-shadow {
    transform: translateY(4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}


/* dashboard - end */