
.container.bomb {
    background-color: #01263d;
}

.ship-container {
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: 5rem;
    height: 80vh;
}

.ship {
    position: absolute;
    top: 0;
    left: 0;

    cursor: pointer;

    /* border: solid 1px black; */
}

.ship-3-left,
.ship-3-right {
    width: calc(80vh / 5 * (3 - 0.5));
}

.ship-3-up,
.ship-3-down {
    height: calc(80vh / 5 * (3 - 0.5));
}

.ship-2-left,
.ship-2-right {
    width: calc(80vh / 5 * (2 - 0.5));
}

.ship-2-up,
.ship-2-down {
    height: calc(80vh / 5 * (2 - 0.5));
}


.grid-container {
    width: 80vh;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 1rem;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    font-size: 30px;
    text-align: center;
}

.container.bomb.primary .grid-item.active {
    background-color: var(--primary);
}

.container.bomb.secondary .grid-item.active {
    background-color: var(--secondary);
}

.bomb-ready-btn {
    position: absolute;
    bottom: 3rem;
    right: 3rem;

    padding: 1.5rem;

    font-size: 3rem;
    color: #fff;

    border: .3rem solid;
    border-radius: .5rem;

    cursor: pointer;
}

.container.bomb.primary .bomb-ready-btn {
    border-color: var(--primary);
    background-color: var(--primary);
}

.container.bomb.secondary .bomb-ready-btn {
    border-color: var(--secondary);
    background-color: var(--secondary);
}

.container.bomb.primary .bomb-ready-btn:hover{
    color: var(--primary);
    background-color: #fff;

    border-color: var(--primary);
}

.container.bomb.secondary .bomb-ready-btn:hover{
    color: var(--secondary);
    background-color: #fff;

    border-color: var(--secondary);
}


/* dashboard - start */

.container.bomb-dashboard .dashboard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container.bomb-dashboard .grid-container {
    width: 60vh;
    height: 60vh;

    margin-left: 10rem;
}

.container.bomb-dashboard .grid-container .grid-item.blank:hover {
    background-color: var(--error);
    cursor: pointer;
    
}

.grid-container .grid-item.bombed,
.grid-container .grid-item.missed {
    padding: 0;
    display: grid;
    place-items: center;

    cursor: not-allowed;
}

.grid-container .grid-item.bombed i,
.grid-container .grid-item.missed i {
    width: 100%;
}

/* dashboard - end */