.container.home {
    /* background-color: #7D8A95; */
    background-color: rgba(38, 38, 38, 0.8);
}


.game-card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.game-card {
    width: 30rem;
    height: 50rem;
    border-radius: 2.5rem;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.7);

    position: relative;

    background-color: #fff;

    margin-right: 10rem;

}


.game-card-top {
    width: 100%;
    height: 35%;
    background: #D9D9D9;
    padding: 3rem;
    border-radius: 2.5rem 2.5rem 0 0;

    display: grid;
    place-items: center;
}


.game-card-top img {
    width: 25rem;
}

.game-card-bottom {
    width: 100%;
    padding: 2rem 3rem;
}

.game-card-bottom .game-title {
    font-size: 3.5rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #333;
    margin-bottom: 2rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tag {
    background: #FF695E;
    color: #fff;

    border-radius: 0.3rem;

    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;

    display: grid;
    place-items: center;

    margin-left: 1rem;
    padding: .5rem;
}

.game-card-meta {
    width: 12rem;
    margin-bottom: 2rem;
    display:inline-block;
    font-size: 2rem;

}

.game-card-meta .meta {
    font-weight: 600;
}

.game-card-meta .meta-value {
    font-weight: 300;
}

.game-card-meta .meta-value i {
    color: #555;

    margin-left: .5rem;
}

.game-rate {

    position: absolute;
    top: 41.5rem;
    right: -2rem;

    background-color: var(--secondary);

    color: #fff;
    font-size: 2.4rem;
    padding: 1rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    box-shadow: 1rem .5rem 1rem rgba(122, 122, 122, 0.7);
}

.game-rate .game-complexity {
    margin-right: 2rem;
}

.stars i {
    margin-right: .5rem;
}